@use '../utilities/variables';

.formosa-alert {
	background-color: variables.$formosa-alert-primary-background-color;
	color: variables.$formosa-alert-primary-color;
	padding: variables.$formosa-alert-padding;

	h1 + & {
		margin-top: variables.$formosa-margin-large;
	}
}

.formosa-alert--error {
	background-color: variables.$formosa-alert-error-background-color;
	color: variables.$formosa-alert-error-color;
}

.formosa-alert--success {
	background-color: variables.$formosa-alert-success-background-color;
	color: variables.$formosa-alert-success-color;
}

.formosa-alert--warning {
	background-color: variables.$formosa-alert-warning-background-color;
	color: variables.$formosa-alert-warning-color;
}
