@use '../utilities/variables';

.formosa-button {
	background-color: variables.$formosa-button-background-color;
	border: variables.$formosa-input-border-width solid variables.$formosa-button-border-color;
	border-radius: variables.$formosa-input-border-radius;
	color: variables.$formosa-button-color;
	cursor: pointer;
	font-family: variables.$formosa-input-font-family;
	font-size: variables.$formosa-input-font-size;
	font-weight: variables.$formosa-button-font-weight;
	line-height: variables.$formosa-input-line-height;
	padding: variables.$formosa-button-padding variables.$formosa-button-padding-side;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$formosa-button-background-color-hover;
	}

	&[disabled] {
		cursor: default;

		&:hover,
		&:active,
		&:focus {
			background-color: variables.$formosa-button-background-color;
		}
	}

	path {
		fill: variables.$formosa-button-color;
	}
}

.formosa-button--danger {
	background-color: variables.$formosa-button-danger-background-color;
	border-color: variables.$formosa-button-danger-border-color;
	color: variables.$formosa-button-danger-color;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$formosa-button-danger-background-color-hover;
	}

	&[disabled] {
		&:hover,
		&:active,
		&:focus {
			background-color: variables.$formosa-button-danger-background-color;
		}
	}
}

.formosa-button--success {
	background-color: variables.$formosa-button-success-background-color;
	border-color: variables.$formosa-button-success-border-color;
	color: variables.$formosa-button-success-color;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$formosa-button-success-background-color-hover;
	}

	&[disabled] {
		&:hover,
		&:active,
		&:focus {
			background-color: variables.$formosa-button-success-background-color;
		}
	}
}

.formosa-button--warning {
	background-color: variables.$formosa-button-warning-background-color;
	border-color: variables.$formosa-button-warning-border-color;
	color: variables.$formosa-button-warning-color;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$formosa-button-warning-background-color-hover;
	}

	&[disabled] {
		&:hover,
		&:active,
		&:focus {
			background-color: variables.$formosa-button-warning-background-color;
		}
	}
}
