@use '../utilities/variables';

input.formosa-field__input--checkbox {
	appearance: none;
	border-radius: variables.$formosa-checkbox-border-radius;
	cursor: pointer;
	height: variables.$formosa-checkbox-size;
	margin: 0 variables.$formosa-checkbox-margin 0 0;
	vertical-align: middle;

	&.formosa-field__input {
		width: variables.$formosa-checkbox-size;
	}

	.formosa-field--disabled & {
		cursor: default;
	}
}

.formosa-input-wrapper--checkbox {
	position: relative;
}

.formosa-icon--check {
	bottom: 0;
	height: calc(variables.$formosa-checkbox-size - variables.$formosa-checkbox-padding);
	left: calc(variables.$formosa-checkbox-padding * .5);
	pointer-events: none;
	position: absolute;
	top: calc(variables.$formosa-checkbox-padding * .5);
	width: calc(variables.$formosa-checkbox-size - variables.$formosa-checkbox-padding);

	path {
		fill: transparent;
	}

	.formosa-field--disabled & {
		opacity: variables.$formosa-disabled-opacity;
	}

	:checked + & path {
		fill: variables.$formosa-input-color;
	}

	& + .formosa-label-wrapper {
		.formosa-label {
			font-weight: normal;
		}
	}
}
