.formosa-fields {
	display: table;

	.formosa-field {
		display: table-row;
	}

	.formosa-field > .formosa-label-wrapper,
	.formosa-field > .formosa-input-wrapper {
		display: table-cell;
		padding: $formosa-horizontal-fields-padding;
	}

	.formosa-field > .formosa-label-wrapper {
		text-align: right;
		vertical-align: top;
		white-space: nowrap;
		width: 0;
	}

	.formosa-label {
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
		padding-top: #{$formosa-input-padding + $formosa-input-border-width};
	}
}
