@use '../utilities/variables';

.formosa-field--disabled {
	& > .formosa-input-wrapper {
		opacity: variables.$formosa-disabled-opacity;
	}

	/* Undo iOS Safari styles. */
	input:disabled,
	select:disabled,
	textarea:disabled {
		opacity: 1;
	}

	input[type='file']:disabled {
		opacity: 0;
	}
}

.formosa-field__input,
.formosa-field__input--select,
.formosa-field__input--textarea,
.formosa-file-input-wrapper {
	background-color: variables.$formosa-input-background-color;
	border: variables.$formosa-input-border-width solid variables.$formosa-input-border-color;
	border-radius: variables.$formosa-input-border-radius;
	color: variables.$formosa-input-color;
	font-family: variables.$formosa-input-font-family;
	font-size: variables.$formosa-input-font-size;
	padding: variables.$formosa-input-padding;

	&:invalid {
		box-shadow: none;

		&:focus {
			box-shadow: 0 0 0 variables.$formosa-focus-border-width variables.$formosa-focus-box-shadow-color;
		}
	}

	.formosa-field--has-error & {
		border-color: variables.$formosa-focus-error-border-color;

		&:focus {
			border-color: variables.$formosa-focus-border-color;
		}
	}
}

.formosa-button,
.formosa-field__input,
.formosa-field__input--select,
.formosa-file-input-wrapper {
	line-height: variables.$formosa-input-line-height;
}

.formosa-button,
.formosa-field__input,
.formosa-field__input--select,
.formosa-field__input--textarea {
	margin: 0;
}

.formosa-field__input,
.formosa-field__input--textarea {
	appearance: none; /* So focus style works on iOS. */
}

.formosa-field__input:not([size]) {
	box-sizing: border-box;
	width: 100%;
}
