.formosa-label-wrapper {
	display: block;
	margin-bottom: $formosa-label-margin;
}

.formosa-label {
	font-weight: bold;

	&[for] {
		cursor: pointer;
	}
}

.formosa-radio__label {
	cursor: pointer;
}

.formosa-label--required {
	&::after {
		content: ' *';
	}
}
