.formosa-message {
	background-color: $formosa-message-primary-background-color;
	color: $formosa-message-primary-color;
	padding: $formosa-message-padding;

	h1 + & {
		margin-top: $formosa-margin-large;
	}
}

.formosa-message--error {
	background-color: $formosa-message-error-background-color;
	color: $formosa-message-error-color;
}

.formosa-message--success {
	background-color: $formosa-message-success-background-color;
	color: $formosa-message-success-color;
}

.formosa-message--warning {
	background-color: $formosa-message-warning-background-color;
	color: $formosa-message-warning-color;
}
