.formosa-message {
	padding: $formosa-message-padding;

	h1 + & {
		margin-top: $formosa-margin-large;
	}
}

.formosa-message--error {
	background-color: $formosa-error-background-color;
	color: $formosa-error-color;
}

.formosa-message--success {
	background-color: $formosa-success-background-color;
	color: $formosa-success-color;
}
