@use '../utilities/variables';

.formosa-field__note {
	font-size: variables.$formosa-note-font-size;
	line-height: variables.$formosa-note-line-height;
	margin: variables.$formosa-note-margin;
	opacity: variables.$formosa-note-opacity;
}
