@use '../utilities/variables';

.formosa-prefix {
	border-bottom-right-radius: 0;
	border-right-width: variables.$formosa-prefix-border-width;
	border-top-right-radius: 0;

	&:focus {
		position: relative;
	}
}

.formosa-postfix {
	border-bottom-left-radius: 0;
	border-left-width: variables.$formosa-postfix-border-width;
	border-top-left-radius: 0;

	&:focus {
		position: relative;
	}
}
