.formosa-radio {
	list-style: none;
	margin: 0;
	padding: 0;
}

.formosa-radio__item + .formosa-radio__item {
	margin-top: $formosa-radio-margin;
}

input[type='radio'] {
	appearance: none;
	border-color: $formosa-input-background-color;
	border-radius: $formosa-radio-border-radius;
	border-width: $formosa-radio-border-width;
	box-shadow: 0 0 0 $formosa-input-border-width $formosa-input-border-color;
	cursor: pointer;
	height: $formosa-radio-size;
	line-height: $formosa-input-line-height;
	margin: 0 $formosa-radio-margin-side 0 0;
	padding: 0;
	vertical-align: middle;
	width: $formosa-radio-size;

	&:checked {
		background: $formosa-input-color;
	}

	&:focus {
		box-shadow:
			0 0 0 $formosa-input-border-width $formosa-focus-border-color,
			0 0 0 #{$formosa-input-border-width + $formosa-focus-border-width} $formosa-focus-box-shadow-color;
	}
}
