@use '../utilities/variables';

.formosa-radio {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.formosa-radio__legend {
	bottom: 0;
	clip: rect(1px, 1px, 1px, 1px);
	font-size: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

.formosa-radio--inline {
	display: flex;
	flex-wrap: wrap;

	.formosa-radio__item {
		margin-bottom: variables.$formosa-radio-margin;
		margin-right: variables.$formosa-radio-margin-inline;
	}
}

.formosa-radio__item {
	position: relative;
}

.formosa-radio__item + .formosa-radio__item {
	margin-top: variables.$formosa-radio-margin;

	.formosa-radio--inline & {
		margin-top: 0;
	}
}

input.formosa-radio__input {
	appearance: none;
	border-color: variables.$formosa-input-background-color;
	border-radius: variables.$formosa-radio-border-radius;
	border-width: variables.$formosa-radio-border-width;
	box-shadow: 0 0 0 variables.$formosa-input-border-width variables.$formosa-input-border-color;
	cursor: pointer;
	height: variables.$formosa-radio-size;
	line-height: variables.$formosa-input-line-height;
	margin: 0 variables.$formosa-radio-margin-side 0 0;
	padding: 0;
	vertical-align: middle;

	.formosa-field--disabled & {
		cursor: default;
	}

	&.formosa-field__input {
		width: variables.$formosa-radio-size;
	}

	&:checked {
		background-color: variables.$formosa-input-color;
	}

	&:focus {
		box-shadow:
			0 0 0 variables.$formosa-input-border-width variables.$formosa-focus-border-color,
			0 0 0 calc(variables.$formosa-input-border-width + variables.$formosa-focus-border-width) variables.$formosa-focus-box-shadow-color;
	}
}
