@use '../utilities/variables';

.formosa-search-wrapper {
	display: table;
	position: relative;
	width: 100%;
}

input.formosa-field__input--search {
	appearance: none;
	padding-right: calc(variables.$formosa-search-icon-size + (variables.$formosa-input-padding * 2));
}

.formosa-icon--search {
	height: variables.$formosa-search-icon-size;
	margin-top: calc(variables.$formosa-search-icon-size * -.5);
	pointer-events: none;
	position: absolute;
	right: variables.$formosa-input-padding;
	top: 50%;
	width: variables.$formosa-search-icon-size;

	path {
		fill: variables.$formosa-input-color;
	}
}
