@use '../utilities/variables';

.formosa-toast-container {
	align-items: flex-end;
	bottom: variables.$formosa-toast-bottom;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	position: fixed;
	right: variables.$formosa-toast-right;
	z-index: variables.$formosa-toast-zindex;
}

.formosa-toast {
	align-items: center;
	animation-fill-mode: forwards;
	animation-name: formosa-slide-in-out;
	background-color: variables.$formosa-primary-background-color;
	color: variables.$formosa-primary-color;
	display: flex;
	margin: variables.$formosa-toast-margin;
	max-width: 90vw;
	pointer-events: auto;
}

.formosa-toast__text {
	padding: variables.$formosa-toast-padding;
}

.formosa-toast__close {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 0;
	height: 32px;
	margin: 0 8px 0 0;
	padding: 0;
	width: 32px;

	path {
		fill: variables.$formosa-primary-color;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

.formosa-toast--error {
	background-color: variables.$formosa-toast-error-background-color;
	color: variables.$formosa-toast-error-color;

	.formosa-toast__close {
		path {
			fill: variables.$formosa-toast-error-color;
		}
	}
}

.formosa-toast--success {
	background-color: variables.$formosa-toast-success-background-color;
	color: variables.$formosa-toast-success-color;

	.formosa-toast__close {
		path {
			fill: variables.$formosa-toast-success-color;
		}
	}
}

.formosa-toast--warning {
	background-color: variables.$formosa-toast-warning-background-color;
	color: variables.$formosa-toast-warning-color;

	.formosa-toast__close {
		path {
			fill: variables.$formosa-toast-warning-color;
		}
	}
}

@keyframes formosa-slide-in-out {
	0% {
		transform: translateX(200%) translateZ(0);
	}

	10% {
		transform: translateX(0%) translateZ(0);
	}

	90% {
		transform: translateX(0%) translateZ(0);
	}

	100% {
		transform: translateX(200%) translateZ(0);
	}
}
