.formosa-alert {
	background-color: var(--formosa-alert-primary-background-color);
	color: var(--formosa-alert-primary-color);
	padding: var(--formosa-alert-padding);

	h1 + & {
		margin-top: var(--formosa-margin-large);
	}
}

.formosa-alert--error {
	background-color: var(--formosa-alert-error-background-color);
	color: var(--formosa-alert-error-color);
}

.formosa-alert--success {
	background-color: var(--formosa-alert-success-background-color);
	color: var(--formosa-alert-success-color);
}

.formosa-alert--warning {
	background-color: var(--formosa-alert-warning-background-color);
	color: var(--formosa-alert-warning-color);
}
