$formosa-dark-mode: true;

@import '../../src/style';

body {
	background: if($formosa-dark-mode, #000, #fff);
	color: if($formosa-dark-mode, #fff, #000);
	font-family: $formosa-input-font-family;
	font-size: $formosa-input-font-size;
	margin: 20px;
}

hr {
	border-color: $formosa-input-border-color;
	border-style: dotted;
	border-width: 1px 0 0;
	margin: 32px 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}
